div[data-testid="stApp"] {
    background: linear-gradient(to left, #ffffff, #faf8f7);
}

.st-key-file_uploader section {
    border: 2px dashed #cccccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    color: #888;
    font-weight: bold;
    transition: border-color 0.3s ease-in-out;
}

.st-key-file_uploader section button {
    border: 2px dashed #cccccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    color: #888;
    font-weight: bold;
    transition: border-color 0.3s ease-in-out;
}

.st-key-file_uploader section button:hover{
    border-color: red;
    color: red
}

.st-key-file_uploader section:hover {
    border-color: grey;
}

.st-key-test_now button{
    background-color: #008000; /* Green background for the submit button */
    color: white; /* White text color */
    cursor: pointer; /* Optional: Pointer cursor on hover */
}

.st-key-test_now button:hover {
    background-color: #006400; /* Darker green on hover */
    color: green;
}
